# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by Data Scientists 
- List Data Science Tools
- simple arithmetic expression to mutiply then add integers
- convert 200 minutes to hours

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. GO

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. caret
3. dplyr

|Data Science Tools|
|:----------------:|
|Jupyter Notebooks|
|RStudio|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Salma Korchi